#single {
  .image_slider {
    padding-right: 60px + 15px;
    padding-bottom: 40px;
    .main_container {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%;
      padding-bottom: 75%;
    }
    .children_images {
      padding-top: 30px;
    }
    .item {
      width: 114px;
      height: 70px;
      background: #ddd;
    }
  }

}